<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eddie's Web Portfolio</title>
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="col-lg-10">
				<div class="row">
					<div class="jumbotron">
						<div class="row">
							<h1>My Resume</h1>
							<p>
								<img src="http://www.gravatar.com/avatar/b963773d209c7311de445c15a1bd949c.png" > Hi, I'm Eddie. I build websites...
							</p>
						</div>
						<div class="row">
							<div class="col-md-5">
								<p><a target="_blank" href="https://github.com/stratease/"><i class="fa fa-github fa-lg"></i> Github</a></p>
								<p><a target="_blank" href="http://stackoverflow.com/users/1135663/edwin-daniels"><i class="fa fa-stack-overflow fa-lg"></i> Stack Overflow</a></p>
							</div>
							<div class="col-md-7">
								<div class="col-md-12">
									<p style="margin: 0">Edwin Daniels</p>
									<p style="margin: 0">Menifee, CA</p>
									<p style="margin: 0"><a href="mailto:stratease@gmail.com">stratease@gmail.com</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h2>My Experience</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><i class="fa fa-sitemap"></i> Databases</h4>
							<ul>
								<li class="list-group-item-text">I have the most experience in MySQL. I'm familiar with joins, unions, various aggregation statements (SUM, GROUP BY's, etc..), running explains to optimize query indexes and schema design. I've worked on high traffic websites and those under master/slave replication clusters.</li>
								<li class="list-group-item-text">I've recently picked up on the "noSQL" database, MongoDB. It's my go-to for small projects without complex data relationships, and it's also useful for structureless datasets. I'm also familiar with their new aggregation API available in 2.4+.</li>
								<li class="list-group-item-text">These technically aren't databases, but I'll lump them under here anyways; Memcached and Redis. I've got experience setting up a basic Redis server for a session data store, and have used memcached in a couple of projects.</li>
							</ul>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><i class="fa fa-keyboard-o"></i> Server Side Languages</h4>
							<ul>
								<li class="list-group-item-text">My focus has been with PHP. I've used inheritance, traits, created singletons, static data constructs, and recursive functions. OOP is a powerful tool, and I love an opportunity to wield it!</li>
								<li class="list-group-item-text">Some experience with NodeJS, and the Mongoose library.</li>
							</ul>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><i class="fa fa-cloud-download"></i> Frontend</h4>
							<ul>
								<li class="list-group-item-text">CSS transforms, media queries, and all the basic styling jazz.</li>
								<li class="list-group-item-text">I've used Sass with Compass.</li>
								<li class="list-group-item-text">Javascript/JSON. Built a number of RESTful API's, from the strict CRUD specifications to looser interpretations. Experience in designing single page services utilizing jQuery and Dojo frameworks.</li>
							</ul>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><i class="fa fa-terminal"></i> Server & OS</h4>
							<ul>
								<li class="list-group-item-text">Primarily developed for Ubuntu/Linux based OS's.</li>
								<li class="list-group-item-text">I've setup and troubleshot Apache servers, and virtual hosts, .htaccess files and the mod rewrite module.</li>
								<li class="list-group-item-text">Some experience with Nginx servers.</li>
								<li class="list-group-item-text">Familiar with Vagrant and Puppet provisioning for servers.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22004159-1', 'webscrye.com');
  ga('send', 'pageview');

</script>
	</body>
</html>
